body {
  margin: 0;
}
header {
  background-color: #AECCFF;
  height: 50px;
}
header ul {
  float: right;
  color: #000000;
  
}
header li {
  display: inline-block;
  padding: 0px 5px;
  font-family: degular, sans-serif;
font-style: normal;
font-weight: 200;
}
header p {
  display: inline-block;
}
.heroImg {
  background-color:  #E4E4EF;
  padding: 100px 15px;
}

.title {
  padding: 30px;
}

.subHeader {
text-align: center;
font-size: 24px;


}
.content {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px;
  background-color: #FFFFFF;
  text-align: center;
}
button {
  background-color: #AECCFF; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: degular, sans-serif;
font-style: normal;
font-weight: 200;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

 
}

h1 {
font-family: tenez, sans-serif;
font-weight: 300;
font-size: 64px;
text-align: center;
margin: 10px;

}

h2 {
  font-family: tenez, sans-serif;
  font-size: 48px;
  font-weight: 300;
  
}

h4 {
  font-family: tenez, sans-serif;
  font-size: 20px;
  font-style: regular;
  font-weight: 300;
  padding-bottom: 5px;
}

h3 {
  font-family: tenez, sans-serif;
  font-size: 18px;
  font-style: regular;
  font-weight: 300;
  padding-bottom: 5px;
  text-align: center;
}

p {
font-family: degular, sans-serif;
font-style: normal;
font-weight: 200;
}

.skills {
  font-family: sans-serif; 
  text-align: center;
}

footer {
  background-color:#AECCFF;
  padding: 5px;
  color: #AECCFF;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
  font-family: degular, sans-serif;
font-style: normal;
font-weight: 200;
}
.heading {
  text-align: center;
  
}

.flexContainer {
  display: flex;
  
  
}

.icon {
padding-left: 110px;
}

.row {
  width: 33%;
  margin: 5%;
  
}

/* My Work Section */
.myWork {
  padding: 10px 20px;
  padding-top: 20;
  background-color: #E4E4EF;
  padding-bottom: 40px;
}
.workGrid {
  display: grid;
  grid-template-columns: 100%;
  margin-left: 250px;
  margin-right: 250px;
  grid-template-rows: 300px 300px 300px;
  row-gap: 30px;
  grid-template-areas:
  "content1"
  "content2"
  "content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 20 auto;
  display: block;
  
}
.img1 {
  grid-area: img1;
  float: left;
  padding-right: 20px;
  
}
.img2 {
  grid-area: img2;
  float: left;
}
.img3 {
  grid-area: img3;
  float: left;
  padding-bottom: 20px;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
  padding: 20px;
}

.content1 {
  grid-area: content1;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  float: right;
  position: relative;
  
  
}


.content2 {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  float: right;
}
.content3 {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  float: right;
}

footer {
  background-color: #AECCFF;
  padding: 5px;
  color: black;
}
footer ul {
  list-style: none;
  padding-left: 5px;
}
footer li {
  display: inline-block;
  padding: 0px 7px;
}



@media only screen and (max-width: 600px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
    
  }

  .row {
    width: 100%;
    margin: 5%;
    
  }

  .workGrid {
    display: grid;
    margin-left: 75px;
  margin-right: 75px;
    grid-template-columns: 300px;
    grid-template-rows: 500px 500px 500px;
    row-gap: 30px;
    grid-template-areas:
    "content1"
    "content2"
    "content3"
    ;
  }
  .content1 {
    grid-area: content1;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    
  }

  
  .content2 {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    
    
  }
  .content3 {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    
    
  }
  .img1 {
    grid-area: img1;
    
    
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
   
  }
  .myWork {
    padding-top: 20;
    background-color: #E4E4EF;
    
  
}
}